<!doctype html>
<html>
<head>
  <title> Top Drugs of 2013 </title>
  <script type="text/javascript" src="js/vis.js"></script>
  <link href="css/vis-network.min.css" rel="stylesheet" type="text/css" />
  <script src="js/echarts.min.js"></script>
  <style type="text/css">
    #mynetwork {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #bar{
      z-index:-1;
    }
  </style>
  </head>
  <body>
  <div id='mynetwork'></div>
<script type="text/javascript">
var nodes_j={{nodes|safe}}
  // create an array with nodes
  var nodes = new vis.DataSet(nodes_j);

  // create an array with edges
  var edges_j={{edges|safe}}
  var edges = new vis.DataSet(edges_j)

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: {
      size:80,
      font: {
        size:20,
      }
    },
    edges: {
      smooth: {
        type: 'continuous'
      }
    },
    interaction: {
      hover:true,
      tooltipDelay: 200,
      hideEdgesOnDrag: false
    },
    physics: {
      stabilization: false,
      barnesHut: {
        gravitationalConstant: -8000,
        springConstant: 0.005,
        springLength: 200
      }
    }
  };
  var network = new vis.Network(container, data, options);
  //event showpopup
  network.on("showPopup", function (params) {
        console.log( JSON.stringify(params, null, 4));
  });
</script>
  </body>